.container {
  margin: auto;
  width: 80%;
  /* background: none; */
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  backdrop-filter: blur(1.5rem);
}

.menu {
  backdrop-filter: blur(1.5rem);
}

.content {
  padding: 80px;
  /* background-color: bisque; */
}

.footer {
  text-align: center;
}

.leftItems {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* background-color: cadetblue; */
}

.rigthItems {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* background-color: rgb(166, 102, 134); */
}

.agreementForm {
  display: inline-table;
  justify-items: center;
  width: 80%;
}

img {
  border-style: none;
  width: 70px;
  height: 50px;
  object-fit: scale-down;
  margin: 10px;
  margin-top: 5px;
  background: none;
}

